# ⚙️ Variables de entorno para el backend

# URL de conexión a MongoDB Atlas
MONGO_URL=mongodb+srv://usuario:contraseña@cluster.mongodb.net/tareas?retryWrites=true&w=majority

# Clave secreta para JWT
JWT_SECRET=una_clave_secreta_segura
